<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add bike</title>
</head>
<body>
    <form method="POST">

        <input type="text" placeholder="e.g.honda", name="model">
        <br><br>
        <input type="text" placeholder="100000" name="price">
        <br><br>
        <input type="text" placeholder="e.g https://" name="image">
        <br><br>
        <input type="text" placeholder="e.g 2013" name="year">
        <br><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</body>
</html>